%nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-inverse
  %button.navbar-toggler{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#bs-navbar-collapse-1
    %ul.navbar-nav
      %li.nav-item
        %a.nav-link{ :href => "#" }= "Browse"
      %li.nav-item
        %a.nav-link{ :href => "#" }= "Test"
      %li.nav-item#search  
        %form.form-inline
          %input.form-control{type: "text", placeholder: "search"}
      - if admin_signed_in?    
        %li.nav-item
          %a.nav-link{ :href => "#" }= "Profile"
        %li.nav-item
          = link_to "Logout", destroy_admin_session_path, method: :delete, class: 'nav-link'
      - else
        %li.nav-item
          = link_to "Login", new_admin_session_path, class: 'nav-link'
        %li.nav-item
          = link_to "Register", new_admin_registration_path, class: 'nav-link'
    